<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet/less" type="text/css" href="./css/style.less" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
    <script defer src="/script/socket.io.js"></script>
    <script defer src="/script/toastr.min.js"></script>
    <script defer src="/script/jquery.js"></script>
    <script defer src="/script/script.js"></script>
    <script defer src="/script/toastr.min.js"></script>

    <script>
      const roomName = "<%= roomName %>"
    </script>

    <title>Group Order ShopeeFood</title>
</head>
<body>
    <div class="container">
        <div class="tab-container">
            <div class="tab-wrapper">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Summary</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="menu-container">
                        <h2 id="order-list-title"><%= resName %></h2>
                        <div class="menu-wrapper">
                          <% foods.forEach((food)=> { %>
                          <div class="card">
                              <img class="card-img-top" src="<%= food.image %>">
                              <div class="card-body-content">
                                <h5 class="card-title"><%= food.title %></h5>
                              </div>
                              <a onclick="showPopupConfirmOrder(this)" class="btn btn-primary mt-3" 
                                data-title="<%= food.title %>" data-price="<%= food.price %>" data-des="<%= food.des %>">
                                <%= food.price %>
                              </a>
                          </div>
                          <% }) %>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="summary-container">
                        <div class="summary-left">
                          <ol class="orders-list" id="display-order">
                            <% orders.forEach((orderDetail)=> { %>
                              <li onclick="confirmDelete(this)" id="<%= orderDetail.orderId %>"
                                data-room="<%= orderDetail.roomName %>" data-user="<%= orderDetail.orderUser %>"
                                data-food="<%= orderDetail.foodTitle %>" data-price="<%= orderDetail.foodPrice %>"
                                data-time="<%= orderDetail.orderTime %>" data-amount="<% orderDetail.foodAmount %>">

                                <span class="order-detail">
                                  <img class="user-avatar" alt="User Avatar"
                                    src="https://haycafe.vn/wp-content/uploads/2022/03/hinh-meo-hai-huoc.jpg">
                                  <div class="order-text">
                                    <div id="order-info-1"><label id="user-txt">
                                        <%= orderDetail.orderUser %>
                                      </label><label id="order-time-txt">
                                        <%= orderDetail.orderTime %>
                                      </label>
                                    </div>
                                    <div id="order-info-2"><label id="food-amount-txt">
                                        <%= orderDetail.foodAmount %> x
                                      </label><label id="order-title-txt">
                                        <%= orderDetail.foodTitle %> x <%=orderDetail.foodPrice %>
                                      </label>
                                    </div>
                                    <div id="order-info-2">
                                      <label id="note-txt">
                                        Note: <%= orderDetail.note %>
                                      </label>
                                    </div>
                                  </div>
                                </span>
                              </li>
                              <% }) %>
                          </ol>
                        </div>
                        <div class="summary-right">
                          <div class="summary-right--container">
                            <div class="summary-right--wrapper">
                              <h2 id="order-list-title">Summary Order</h2>
                              <div class="summary-order-container" id="display-summary">
                                <div class="summary-detail">
                                  <div class="summary-info">
                                    <span class="sum-qty-txt">1</span>
                                    <span class="sum-food-txt">Bánh tráng cuốn bơ</span>
                                  </div>
                                  <div class="sum-total-txt">
                                    <span>29,000đ</span>
                                  </div>
                                </div>
                                
                                <div class="summary-detail">
                                  <div class="summary-info">
                                    <span class="sum-qty-txt">1</span>
                                    <span class="sum-food-txt">Trà Tắc Size 1L</span>
                                  </div>
                                  <div class="sum-total-txt">
                                    <span>15,000đ</span>
                                  </div>
                                </div>
                              </div>
                              <div class="subtotal-container">
                                <div class="subtotal-info">
                                  <span id="sub-total-txt" class="subtotal-txt">Subtotal (12 items)</span>
                                  <span id="total-price-txt" class="subtotal-price-txt">301,000đ</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="comming-soon">
                          <img class="card-img-top" src="https://tiengdong.com/wp-content/uploads/www_tiengdong_com-meme-gau-truc-panda-weibo.jpg" alt="Card image cap">
                          <h2>Comming Soon</h2>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        
        <!-- POPUP Define User Name -->
        <div class="popup" id="popup-username" style="display: none;">
          <h2>What should i call you?</h2>
          <input id="userName" type="text" placeholder="Your Name" required>
          <input id="confirmBtn" onclick="confirmUserName()" value="Yes, please!">
        </div>
    </div>

    <!-- POPUP Confirm Order -->
    <div class="modal-container">
      <div class="popup-confirm" id="popup-confirm" style="display: none;">
        <span id="popup-confirm-title">Confirm your order</span>
        <div class="popup-confirm-info">
          <p id="txtFoodName" type="text" disabled placeholder="Food Name"></p>
          <p id="txtFoodPrice" type="text" disabled placeholder="Price"></p>
          <p id="txtFoodDes" type="text" disabled placeholder="Description"></p>
        </div>
        <input id="txtFoodQty" type="number" name="qty" min="1" max="100" value="1">
        <input id="txtNote" type="text" placeholder="Note">
        <div class="popup-confirm-btn">
          <button id="orderCloseBtn" onclick="closePopupConfirmOrder()">Close</button>
          <button id="orderConfirmBtn" onclick="sendOrder()">Order</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>